---
layout: page
title: "Resources"
description: ""
header-img: "img/post-bg-desk.jpg"
---

<!-- Language Selector -->
<!-- <select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英文 English </option>
</select> -->

<!-- Chinese Version -->
<div class="zh post-container">
        
<h3 id="toc_0">物理知乎</h3>
<li><a href="https://zhuanlan.zhihu.com/p/261067898" target="_blank">SI与高斯单位制得转换</a></li>

<h3 id="toc_1">硬件问题</h3>
<li><a href="https://diskgenius.cn/exp/external-hdd-directory-unreadable.php" target="_blank">移动硬盘无法访问 “文件或目录损坏且无法读取” 怎么办？</a></li>
<!--
<ul>
<li><a href="{{site.baseurl}}/2018/12/10/三叶语简介">三叶语简介</a></li>
<li><a href="{{site.baseurl}}/2019/01/11/三叶语概述">三叶语概述</a></li>
<li><a href="{{site.baseurl}}/2019/09/22/三叶语详解语音">三叶语详解（一 语音）</a></li>
<li>三叶语详解（二 词汇）</li>
<li>三叶语详解（三 语法）</li>
</ul>
-->

<footer>
    <small> <font color="a0a9a9">
    <b>特别说明：</b>
    <li>该个人主页的设计参考<a href="https://zhuanlan.zhihu.com/p/74778630" target="_blank">教程</a></li>
    <li>瀑布流相册的设计来自<a href="https://github.com/miromannino/Justified-Gallery" target="_blank">https://github.com/miromannino/Justified-Gallery</a></li>
    </font>
    <small>
</footer>        
</div>

<!-- Gitalk 评论 start  -->
{% if site.gitalk.enable %}
<!-- Gitalk link  -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>

<div id="gitalk-container"></div>
    <script type="text/javascript">
    var gitalk = new Gitalk({
    clientID: '{{site.gitalk.clientID}}',
    clientSecret: '{{site.gitalk.clientSecret}}',
    repo: '{{site.gitalk.repo}}',
    owner: '{{site.gitalk.owner}}',
    admin: ['{{site.gitalk.admin}}'],
    distractionFreeMode: {{site.gitalk.distractionFreeMode}},
    id: 'resources',
    });
    gitalk.render('gitalk-container');
</script>
{% endif %}
<!-- Gitalk end -->

 <!-- disqus 评论框 start  -->
{% if site.disqus.enable %}

<div class="comment">
    <div id="disqus_thread" class="disqus-thread">
    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus.username}}";
    var disqus_identifier = "{{site.disqus.username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}

