---
layout: default
title: Gallery
description: "白驹过隙"
header-img: "img/post-bg-about.jpg"
permalink: /galleryimg/
---
<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading" id="tag-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>



<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Gallery</title>
    <!-- 引入 Justified-Gallery CSS -->
    <link rel="stylesheet" href="css/justifiedGallery.min.css">
    <!-- 引入其他样式 -->
    <style>
        .gallery-container {
                        width: 20%;
                        margin: 0 auto;
                            }
    </style>
</head>
<body>
    <!-- 你的画廊 HTML -->
    <div id="gallery">
        <div class="gallery-item">
            <img src="image1.jpg" alt="Image 1">
        </div>
        <div class="gallery-item">
            <img src="test2.jpg" alt="Image 2">
        </div>
        <div class="gallery-item">
            <img src="test3.jpg" alt="Image 3">
        </div>
    <!-- 添加更多的图片项 -->
    </div>

    <!-- 引入 jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- 引入 Justified-Gallery JS -->
    <script src="js/jquery.justifiedGallery.min.js"></script>
    <!-- 初始化 Justified-Gallery -->
    <script>
       $(document).ready(function() {
            $('#gallery').justifiedGallery({
                        rowHeight: 200,        // 设置每行的基础高度
                        maxRowHeight: 250,     // 限制每行的最大高度
                        margins: 5,            // 设置图片之间的间距
                        lastRow: 'nojustify',  // 控制最后一行不拉伸填充
                        captions: false,       // 不显示标题
                        rel: 'gallery1'        // 设置图片组名（用于灯箱功能）
                                            });
                                    });
    </script>
</body>
</html>

<link rel="stylesheet" href="css/justifiedGallery.min.css">
<script src="js/jquery.justifiedGallery.min.js"></script>

<!--<div class="container">
    <div class="gallery-item">
        <img src="image1.jpg" alt="Image 1">
    </div>
    <div class="gallery-item">
        <img src="image1.jpg" alt="Image 2">
    </div>
    <div class="gallery-item">
        <img src="image1.jpg" alt="Image 3">
    </div>
</div>-->
<!-- 添加更多图片项 -->
